{% extends 'core/base-page.html' %}

{% block 'title' %}
{% block 'body-title' %} Create Box {% endblock %}
{% endblock %}

{% block 'body' %}
<form method="post">{% csrf_token %}
  {% for field in form %}
  <div class="mb-3">
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% if field.name == "public" %}

    <div class="form-check form-switch checkbox mb-3 mt-3 center">
      <label>
        {{ field.label }} {{ field }} 
      </label>
    </div>
    <div id="{{ field.auto_id }}_help" class="form-text">{{ field.help_text }}</div>

    {% else %}
    <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
    {{ field }}
    <div id="{{ field.auto_id }}_help" class="form-text">{{ field.help_text }}</div>
    {% endif %}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Create</button>
  <a class="btn btn-danger" href="{% url 'core:home' %}">Cancel</a>
</form>

<br />
{% endblock %}