{% extends 'core/base-page.html' %}

{% block 'title' %}
{% block 'body-title' %} List Box Versions of "{{ box.name }}" {% endblock %}
{% endblock %}

{% block 'body' %}

{% if box_versions %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Kind</th>
      <th scope="col">Created At</th>
      <th scope="col">Hash</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for version in box_versions %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'core:box-version-edit' box.pk version.pk %}">{{ version.name }}</a></td>
      <td>{{ version.get_kind_display }}</td>
      <td>{{ version.created_at }}</td>
      <td>{{ version.hash }}</td>
      <td>
      <a class="badge bg-primary" href="{{ version.file.url }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download"><i data-feather="download"></i></a>
        <a class="badge bg-danger" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i data-feather="x-square"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
        <td class="text-center" colspan="7"> 

        {% if page_obj.number != 1 %}
        <a class="badge bg-secondary" href="?page=1"><i data-feather="chevrons-left"></i></a>
        {% endif %}

        {% if page_obj.has_previous %}
        <a class="badge bg-secondary" href="?page={{ page_obj.previous_page_number }}"><i data-feather="chevron-left"></i></a>
        {% endif %}

        {% if page_obj.has_next %}
        <a class="badge bg-secondary" href="?page={{ page_obj.next_page_number }}"><i data-feather="chevron-right"></i></a>
        {% endif %}
        
        {% if page_obj.number != page_obj.paginator.num_pages %}
        <a class="badge bg-secondary" href="?page={{ page_obj.paginator.num_pages }}"><i data-feather="chevrons-right"></i></a>
        {% endif %}

        </td>
    </tr>
  </tfoot>  
</table>
{% else %}
<p> There are no versions registered for this box. </p>
{% endif %}
<br />
{% endblock %}

{% block 'js' %}
<script>
  // Enable tooltips.
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>      
{% endblock %}